body {
	background-color: #f3f3f3;
	margin: 0;
	height: 100%;
	min-width: 1000px;
	font-family: "Microsoft Yahei", Tahoma, Helvetica, Arial, sans-serif;
}

html {
	margin: 0;
	height: 100%;
}

#header {
	position: relative;
	height: 120px;
	background-color: white;
	box-shadow: 0px 3px 7px #c0c0c0;
}

#logo {
	position: absolute;
	top: calc((50% - 37px) / 2);
	min-width: 338px;
	padding-left: 2.5%;
	font-size: 200%;
	left: 0;
	z-index: 2;
}

#text_brisbane{
	color: #3c78da;
}

#text_park {
	color: #6aa84f;
}

#text_finder {
	color: #ff9900;
}

#searchBox {
	position: relative;
	top: 10%;
	left: 35%;
	height: 40%;
	width: 30%;
	min-width: 462px;
	text-align: center;
	background-color: #efefef;
	border: 0px; 
	border-radius: 5px;
	transition: box-shadow 0.3s;
	z-index: 1;
}

#searchBox:hover {
	box-shadow: 0px 3px 5px #c0c0c0;
	transition: box-shadow 0.3s;
}

#searchBar {
	position: absolute;
	left: 17%; 
	height: 100%;
	width: 60%;
	min-width:323px;
	border: 0px;
	padding: 0;
	background-color: #efefef;
	outline: none;
	font-size: 110%;
}

#dropBox {
	position: absolute;
	height: 100%;
	min-width: 84px;
	left: 0;
	color: #66666d;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	background-color: #efefef; 
	outline: none;
	font-size: 110%;
}

#submitButton {
	position: absolute;
	height:100%;
	width: 15%;
	min-width: 69px;
	right: 0;
	border: 0;
	border-radius: 5px;
	background-color: #3c78da;
	padding: 0;
	color: white;
	outline: none;
	font-size: 120%;
}

#login {
	position: absolute;
	top: 15%;
	right: 0;
	height: 20%;
	width: 16%;
	right: 0;
	text-align: right;
	padding-right: 2%;
	z-index: 2;
	font-size: 100%;
}

#login a:link, a:visited {
	color: #66666d;
}

#navigationBar {
	position: absolute;
	width: 100%;
	left: 0;
	bottom:0;
	border:1px;
	border-color:black;
}

#navigationBar ul {
	list-style-type: none;
	margin-left: 2.5%;
	margin-bottom: 2px;
	padding: 0;
	overflow: hidden;
}

#navigationBar ul li {
	display: inline-block;
	margin-right: 2%;
	border: 0;
	border-color: white;
	padding-bottom: 10px;
	transition: border-color 0.5s;
}

#navigationBar ul li a {
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 100%;
	color: #999c9c;
}

#navigationBar ul li:hover {
	border-color: #3c78da; 
	border-width: 0 0 3px 0;
	border-style: solid;
	padding-bottom: 7px;
}

#mapWrapper {
	background: white;
	width: 58%;
	height: calc(100% - 150px);
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	box-shadow: 0px 3px 7px #c0c0c0;
}

#map {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#contentList {
	width: 40%;
	height: calc(100% - 140px);
	margin-top: 10px;
	overflow: auto;
	float: right;
	min-width: 433px;
}

#contentList a {
	text-decoration: none;
}

.contentCell {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 92%;
	height: 12%;
	min-height: 75px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px #c0c0c0;
	background-color: white;
}

#contentList .contentCell:hover {
	transition: box-shadow 0.2s;
	box-shadow: 0px 5px 8px #c0c0c0;
}

.contentTitle {
	font-size: 200%;
	font-width: bold;
	color: #66666d;
	margin-right: 10px;
}

.contentRating {
	display: inline-block;
}

.contentRating img {
	width: 25px;
	height: 25px;
}

.contentDescription {
	display: block;
	font-size: 100%;
	color: #999c9c;
	margin-top: 4%;
	overflow: hidden;
}

#detailedInfo {
	width: 40%;
	height: calc(100% - 140px);
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 433px;
	position: absolute;
	right: 0;
	display: none;
}

#commentList {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	width: 92%;
	height: 60%;
	overflow: auto;
}

.commentCell {
	width: 100%;
	height: 20%;
	min-height: 75px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-color: #f3f3f3;
	border-width: 0 0 1px 0;
	border-style: solid;
}

.commentTitle {
	font-size: 160%;
	font-width: bold;
	color: #66666d;
	margin-right: 10px;
}

.commentRating {
	display: inline-block;
}

.commentRating img {
	width: 20px;
	height: 20px;
}

.comment{
	display: block;
	font-size: 100%;
	color: #999c9c;
	margin-top: 4%;
	overflow: hidden;
}

#commentBox {
	display: block;
	background-color: white;
	width: 92%;
	min-height: 162px;
	height: 22%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
}

#commentBox form {
	width: 100%;
	height: 100%;
}

#commentArea {
	height: 60%;
	width: 96%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-color: #d1e6c8;
	color: #66666d;
	padding: 8px;
	outline: none;
	resize: none;
}

#commentSubmitButton {
	border: 0;
	width: 60px;
	height: 25px;
	border-radius: 5px;
	background-color: #3c78da;
	padding: 0;
	color: white;
	outline: none;
	font-size: 90%;
	float: right;
	margin-right: 8px;
}

